.all-banks {
  padding: 4.167vw 0;
  background-image: url(../img/bankoBG.png);
  background-repeat: no-repeat;
  background-size: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-transform: uppercase;
    color: #1a1a1a;
    padding-bottom: 0.938vw;
  }

  .text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.771vw;
    color: #010334;
    width: 35.833vw;
    text-align: center;
    padding-bottom: 2.865vw;
  }

  .all-banks-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 1.25vw;
    row-gap: 1.042vw;
    flex-wrap: wrap;
  }

  .bank-item {
    width: 17.81vw;
    height: 7.865vw;
    background: rgba(246, 247, 248, 0.5);
    border: 0.104vw solid rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(0.26vw);
    border-radius: 0.781vw;
    background-repeat: no-repeat;
    background-position: center;

    &:nth-child(1) {
      background-image: url(../img/bank1.png);
      background-size: 9.375vw 1.563vw;
    }

    &:nth-child(2) {
      background-image: url(../img/bank2.png);
      background-size: 9.375vw 2.109vw;
    }

    &:nth-child(3) {
      background-image: url(../img/bank3.png);
      background-size: 9.375vw 1.823vw;
    }

    &:nth-child(4) {
      background-image: url(../img/bank4.png);
      background-size: 9.375vw 1.406vw;
    }

    &:nth-child(5) {
      background-image: url(../img/bank5.png);
      background-size: 9.375vw 1vw;
    }

    &:nth-child(6) {
      background-image: url(../img/bank6.png);
      background-size: 7.813vw 1.615vw;
    }

    &:nth-child(7) {
      background-image: url(../img/bank7.png);
      background-size: 9.375vw 1.406vw;
    }

    &:nth-child(8) {
      background-image: url(../img/bank8.png);
      background-size: 9.375vw 1.323vw;
    }

    &:nth-child(9) {
      background-image: url(../img/bank9.png);
      background-size: 6.771vw 2.031vw;
    }

    &:nth-child(10) {
      background-image: url(../img/bank10.png);
      background-size: 9.375vw 2.396vw;
    }

    &:nth-child(11) {
      background-image: url(../img/bank11.png);
      background-size: 9.375vw 1.177vw;
    }

    &:nth-child(12) {
      background-image: url(../img/bank12.png);
      background-size: 6.771vw 1.979vw;
    }
  }
}

@media only screen and (max-width:1200px){
  .all-banks {
    padding: 11.458vw 0 13.021vw 0;
    background-image: url(../img/1200/bank1200.png);
    background-repeat: no-repeat;
    background-size: 100%;
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .title {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 4.688vw;
      line-height: 5.208vw;
      text-transform: uppercase;
      color: #1a1a1a;
      padding-bottom: 2.345vw;
    }
  
    .text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 2.604vw;
      line-height: 2.995vw;
      color: #010334;
      width: 59.245vw;
      text-align: center;
      padding-bottom: 30px;
      
    }
  
    .all-banks-items {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 3.125vw;
      row-gap: 3.906vw;
      flex-wrap: wrap;
    }
  
    .bank-item {
      width: 44.525vw;
      height: 19.663vw;
      background: rgba(246, 247, 248, 0.5);
      border: 0.26vw solid rgba(0, 0, 0, 0.02);
      backdrop-filter: blur(0.65vw);
      border-radius: 1.952vw;
      background-repeat: no-repeat;
      background-position: center;
  
      &:nth-child(1) {
        background-image: url(../img/bank1.png);
        background-size: 23.438vw 3.908vw;
      }
  
      &:nth-child(2) {
        background-image: url(../img/bank2.png);
        background-size: 23.438vw 5.273vw;
      }
  
      &:nth-child(3) {
        background-image: url(../img/bank3.png);
        background-size: 23.438vw 4.558vw;
      }
  
      &:nth-child(4) {
        background-image: url(../img/bank4.png);
        background-size: 23.438vw 3.515vw;
      }
  
      &:nth-child(5) {
        background-image: url(../img/bank5.png);
        background-size: 23.438vw 2.5vw;
      }
  
      &:nth-child(6) {
        background-image: url(../img/bank6.png);
        background-size: 19.533vw 4.037vw;
      }
  
      &:nth-child(7) {
        background-image: url(../img/bank7.png);
        background-size: 23.438vw 3.515vw;
      }
  
      &:nth-child(8) {
        background-image: url(../img/bank8.png);
        background-size: 23.438vw 3.308vw;
      }
  
      &:nth-child(9) {
        background-image: url(../img/bank9.png);
        background-size: 16.927vw 5.077vw;
      }
  
      &:nth-child(10) {
        background-image: url(../img/bank10.png);
        background-size: 23.438vw 5.99vw;
      }
  
      &:nth-child(11) {
        background-image: url(../img/bank11.png);
        background-size: 23.438vw 2.942vw;
      }
  
      &:nth-child(12) {
        background-image: url(../img/bank12.png);
        background-size: 16.927vw 4.948vw;
      }
    }
  }

}
