.webp .slider {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  .slick-arrow.slick-next {
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
  .slick-arrow.slick-prev {
    background-size: contain !important;
    background-repeat: no-repeat !important;
  }
}
.slider {
  height: 41.354vw;
  position: relative;
  background: url(../img/firstBanner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  .slider_item {
    width: 100%;
    position: relative;
    height: 41.354vw;

    .banner_content {
      position: absolute;
      width: 75vw;
      left: 50%;
      top: 51%;
      transform: translate(-50%, -50%);
    }
  }

  .title_slide {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 1000;
    font-size: 3.333vw;
    line-height: 3.854vw;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 1.615vw;
  }

  .text_slide {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 2.083vw;
    line-height: 2.604vw;
    color: #ffffff;
    width: 30.26vw;
    padding-bottom: 4.167vw;
  }

  .button_slide {
    background: #eec16a;
    box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
      0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
    border-radius: 0.521vw;
    display: flex;
    padding: 0.938vw 1.25vw 1.042vw 1.25vw;
    align-items: center;
    justify-content: center;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.042vw;
    line-height: 1.146vw;
    text-transform: uppercase;
    color: #1a1a1a;
    width: 17.813vw;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #fbd07c;
      transition: 0.3s ease-in-out;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
        0px 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .sliders_blocks {
    display: flex;
    justify-content: space-between;
    gap: 1.25vw;
    padding-top: 4.167vw;
  }

  .block {
    width: 24.167vw;
    height: 8.906vw;
    display: flex;
    flex-direction: column;
    gap: 0.417vw;
    padding: 1.51vw 0.938vw 0 5.104vw;
  }

  .block_one {
    background-image: url(../img/Wordmark1.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.417vw;
  }

  .title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.354vw;
    line-height: 1.458vw;
    color: #1a1a1a;
  }

  .text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #1a1a1a;
  }

  .block_two {
    background-image: url(../img/Wordmark2.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .block_three {
    background-image: url(../img/Wordmark3.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .banner {
    width: 67.344vw;
    height: 40.885vw;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: -0.521vw;
  }

  /* Слайдер */
  .slick-list {
    overflow: hidden;
  }

  /* Лента слайдов */
  .slick-track {
    display: flex;
  }

  /* Стрелка */
  .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    z-index: 10;
    width: 3.125vw;
    height: 3.125vw;
    transform: translate(0, -50%);
  }

  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 2.813vw;
    background: url(../img/Arrow_Left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.125vw;
    transition: 0.3s ease-in-out;

    &:hover {
      background: url(../img/hoverleft.png);
      transition: 0.3s ease-in-out;
    }
  }

  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 2.813vw;
    background: url(../img/Arrow_Right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.125vw;
    transition: 0.3s ease-in-out;

    &:hover {
      background: url(../img/hoverright.png);
      transition: 0.3s ease-in-out;
    }
  }

  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.302vw;
    position: absolute;
    bottom: 1.802vw;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .slick-dots li {
    list-style: none;
  }

  /* Элемент точки */
  .slick-dots li button {
    font-size: 0;
    width: 0.781vw;
    height: 0.781vw;
    border-radius: 49.997px;
    transition: 0.3s ease-in-out;
    background: #ffffff;
    opacity: 0.3;
  }

  /* Активная точка */
  .slick-dots li.slick-active button {
    font-size: 0;
    width: 2.848vw;
    height: 0.781vw;
    border-radius: 49.997px;
    transition: 0.3s ease-in-out;
    background: #ffffff;
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .slider {
    height: 86.458vw;

    .slider_item {
      height: 86.458vw;
      overflow: hidden;

      .banner_content {
        position: absolute;
        width: 92.188vw;
        left: 50%;
        top: 51%;
        transform: translate(-50%, -50%);
      }
    }

    .title_slide {
      font-size: 4.688vw;
      line-height: 5.208vw;
      padding-bottom: 3.125vw;
    }

    .text_slide {
      font-size: 3.125vw;
      line-height: 3.906vw;
      width: 41vw;
      padding-bottom: 4.167vw;
    }

    .button_slide {
      background: #eec16a;
      box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
        0vw 0.13vw 0.39vw rgba(0, 0, 0, 0.1);
      border-radius: 1.302vw;
      padding: 2.345vw 3.125vw 2.605vw 3.125vw;
      font-size: 2.083vw;
      line-height: 2.865vw;
      width: 45.052vw;
    }

    .sliders_blocks {
      gap: 1.953vw;
      padding-top: 16.536vw;
    }

    .block {
      width: 29.427vw;
      height: 25.781vw;
      display: flex;
      flex-direction: column;
      gap: 1.042vw;
      padding: 5.99vw 2.995vw 0vw 2.083vw;
    }

    .block_one {
      background-image: url(../img/1200/Wordmark12001.png);
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 1.042vw;
    }

    .title {
      font-size: 2.344vw;
      line-height: 3.125vw;
      width: 20.182vw;
    }

    .text {
      font-size: 1.823vw;
      line-height: 2.604vw;
    }

    .block_two {
      background-image: url(../img/1200/Wordmark12002.png);
    }

    .block_three {
      background-image: url(../img/1200/Wordmark12003.png);
    }

    .banner {
      width: 95.313vw;
      height: 57.943vw;
      object-fit: cover;
      position: absolute;
      right: -26.042vw;
      top: 2.604vw;
    }

    /* Слайдер */
    .slick-list {
      overflow: hidden;
    }

    /* Лента слайдов */
    .slick-track {
      display: flex;
    }

    /* Стрелка */
    .slick-arrow {
      width: 7.813vw;
      height: 7.813vw;
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
      left: 3.906vw;
      background-size: 7.813vw;
    }

    /* Стрелка вправо */
    .slick-arrow.slick-next {
      right: 3.906vw;
      background-size: 7.813vw;
    }
    /* Точки (булиты) */
    .slick-dots {
      gap: 2.214vw;
      bottom: 3.906vw;
    }
    /* Элемент точки */
    .slick-dots li button {
      width: 1.44vw;
      height: 1.302vw;
      border-radius: 4.557vw;
    }
    /* Активная точка */
    .slick-dots li.slick-active button {
      width: 5.143vw;
      height: 1.302vw;
      border-radius: 4.557vw;
    }
  }
}
