.best-promo {
  background: linear-gradient(95.52deg,
      #440551 0.7%,
      #404267 55.29%,
      #3c7a80 99.34%,
      #3c7a80 99.34%),
    #ffffff !important;
    height: 48.438vw;

  .title {
    padding-bottom: 2.604vw;
    padding-top: 3.167vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .slick-dots {
    bottom: 4.802vw;
}

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25vw;
  }

  .auto_item {
    width: 17.813vw;
    overflow: hidden;
    background: #ffffff;
    border: 0.052vw solid #ccdaff;
    border-radius: 0.521vw;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease-in-out;

    &:hover {
      border: 0.052vw solid #a6beff;
      box-shadow: 0vw 0.104vw 0.677vw rgba(25, 1, 52, 0.15);
      transition: 0.3s ease-in-out;
    }
  
  }

  .little_slider {
    height: 12.396vw;
    position: relative;

    .little_slider-item {
      width: 17.813vw;
      height: 12.396vw;
      position: relative;

      img {
        width: 100%;
      }
    }

    /* Слайдер */
    .slick-list {
      overflow: hidden;
    }

    /* Лента слайдов */
    .slick-track {
      display: flex;
    }

    /* Точки (булиты) */
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.521vw;
      position: absolute;
      bottom: 0.885vw;
      z-index: 10;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .slick-dots li {
      list-style: none;
    }

    /* Элемент точки */
    .slick-dots li button {
      font-size: 0;
      width: 1.458vw;
      height: 0.208vw;
      background: #d9d9d9;
      border-radius: 0.208vw;
      transition: 0.3s ease-in-out;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
      font-size: 0;
      width: 1.458vw;
      height: 0.208vw;
      background: #010334;
      border-radius: 0.208vw;
      transition: 0.3s ease-in-out;
    }
  }

  .auto_info {
    margin: 1.042vw;
    display: flex;
    flex-direction: column;
    gap: 0.425vw;
    position: relative;

    .auto_name {
      display: flex;
      flex-direction: column;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 0.938vw;
      line-height: 1.198vw;
      color: #1a1a1a;
    }

    .model {
      font-weight: 700;
    }

    .auto_description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.13vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.198vw;
      color: #585b79;
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .new_price {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 1.667vw;
      line-height: 2.083vw;
      color: #1a1a1a;
    }

    .old_price {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 1.042vw;
      line-height: 1.302vw;
      text-decoration-line: line-through;
      color: #585b79;
    }

    .button {
      border: 0.052vw solid #eec16a;
      border-radius: 0.521vw;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.521vw 0;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 0.833vw;
      line-height: 1.25vw;
      text-transform: uppercase;
      color: #eec16a;
    }

    .how_much {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 0.729vw;
      line-height: 0.938vw;
      color: #585b79;
    }

    .in_stok {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 0.729vw;
      line-height: 0.938vw;
      color: #4cb050;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .wish_icon {
    width: 1.25vw;
    height: 1.25vw;
    position: absolute;
    top: 0.521vw;
    right: 0.521vw;
    cursor: pointer;

    svg {
      width: 100%;
    }
  }
}