.credit-calc-block {
  background: #f1f4f7;
  padding: 5.208vw 0;

  .content {
    background: #ffffff;
    border-radius: 0.521vw;
    padding: 3.646vw 5.104vw;
    display: flex;
    flex-direction: column;
    gap: 1.563vw;
  }

  .title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1a1a1a;
    br {
      display: none;
    }
  }

  .name-auto {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.354vw;
    line-height: 1.458vw;
    text-align: center;
    color: #1a1a1a;
  }

  .credit-calc {
    display: flex;
    gap: 1.302vw;
    align-items: flex-end;
  }

  .left {
    width: 38.125vw;
    display: flex;
    flex-direction: column;
    gap: 1.563vw;

    .block {
    }

    .flex-container {
      &.for-range {
        display: flex;
        justify-content: space-between;
      }

      h5 {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.042vw;
        color: #010334;
        padding-bottom: 0.521vw;
      }

      .per {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 500;
        font-size: 0.729vw;
        line-height: 120%;
        align-items: center;
        color: #585b79;
      }

      h6 {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 700;
        font-size: 1.667vw;
        line-height: 120%;
        color: #1a1a1a;
        padding-bottom: 0.521vw;
      }
    }

    .val-summ {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }
  }

  .right {
    width: 25.417vw;
    height: 16.719vw;
    border-radius: 0.521vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      103.38deg,
      #671578 -23.88%,
      #404267 41.9%,
      #4499a2 91.64%
    );

    .info-pay {
      width: 25.26vw;
      height: 16.563vw;
      border-radius: 0.521vw;
      background: #ffffff;
      padding: 2.031vw 0 0 2.031vw;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.563vw;
      flex-direction: column;
    }

    .info-pay-block {
      display: flex;
      gap: 3.438vw;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.208vw;
    }

    .title-range {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 300;
      font-size: 0.833vw;
      line-height: 1.042vw;
      color: #010334;
    }

    .persent {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }

    .summ {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }

    .yeahr {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }

    .economy {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 1.042vw;
      line-height: 1.563vw;
      background: linear-gradient(
        105.42deg,
        #671578 9.76%,
        #404267 45.62%,
        #4499a2 72.73%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  input[type="range"] {
    width: 100%;
    height: 0.156vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.521vw;
    background: #e4e4e4;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.156vw;
    border-radius: 0.521vw;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.042vw;
    height: 0.781vw;
    background: #eec16a;
    border: 0.052vw solid #ffffff;
    border-radius: 1.25vw;
    cursor: pointer;
    margin-top: -0.365vw;
    margin-left: -0.208vw;

    &:hover {
      border: 0.104vw solid gray;
    }
  }
}

.form-for-credit,
.all-form {
  display: flex;
  flex-direction: column;

  .title-form {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.667vw;
    line-height: 2.083vw;
    text-align: center;
    color: #1a1a1a;
    padding-top: 1.042vw;
    padding-bottom: 0.885vw;
  }

  .subtitle-form {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 1.563vw;
    text-align: center;
    color: #010334;
    padding-bottom: 1.667vw;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.172vw;
  }

  .block-input {
    display: flex;
    justify-content: flex-start;
    gap: 1.25vw;
  }

  .input-name {
    input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.469vw 1.042vw 0.469vw 2.917vw;
      width: 31.771vw;
      height: 3.125vw;
      background: #f1f4f7;
      border-radius: 0.521vw;
      background-image: url(../img/fio.png);
      background-repeat: no-repeat;
      background-position: 1.042vw center;
      background-size: 0.938vw;
      position: relative;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #010334;
      &::placeholder {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.354vw;
        color: #abafbc;
        position: absolute;
        top: 50%;
        left: 3vw;
        transform: translate(0, -50%);
      }
    }
  }

  .input-tel {
    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.469vw 1.042vw 0.469vw 2.917vw;
      width: 31.771vw;
      height: 3.125vw;
      background: #f1f4f7;
      border-radius: 0.521vw;
      background-image: url(../img/telinput.png);
      background-repeat: no-repeat;
      background-position: 1.042vw center;
      background-size: 0.938vw;
      position: relative;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #010334;
      &::placeholder {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.354vw;
        color: #abafbc;
        position: absolute;
        top: 50%;
        left: 3vw;
        transform: translate(0, -50%);
      }
    }
  }

  .button-sub {
    button {
      width: 31.771vw;
      height: 3.221vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eec16a;
      box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
        0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
      border-radius: 0.521vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 1.042vw;
      line-height: 1.146vw;
      text-transform: uppercase;
      color: #1a1a1a;
      transition: 0.3s ease-in-out;
      &:hover {
        transition: 0.3s ease-in-out;
        background: #fbd07c;
        box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
          0vw 0.13vw 0.391vw rgba(0, 0, 0, 0.1);
      }
    }
  }

  .agree-input {
    display: flex;
    align-items: center;

    label {
      display: flex;
      align-items: center;
      gap: 0.938vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.406vw;
      color: #010334;

      a {
        color: #eec16a;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox__text {
    position: relative;
    padding: 0 0 0 1.979vw;
    cursor: pointer;
  }

  .checkbox__text:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 1.042vw;
    height: 1.042vw;
    border-radius: 0.145vw;
    border: 0.052vw solid #eec16a;
    transition: 0.2s;
  }

  .checkbox__text:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.521vw;
    transform: translate(-50%, -50%);
    width: 0.521vw;
    height: 0.521vw;
    background: #eec16a;
    opacity: 0;
    border-radius: 0.083vw;
    transition: 0.3s ease-in-out;
  }

  .checkbox input:checked + .checkbox__text:before {
    background: transparent;
  }

  .checkbox input:checked + .checkbox__text:after {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 1200px) {
  .credit-calc-block {
    padding: 9.115vw 0;

    .content {
      border-radius: 1.302vw;
      padding: 10.417vw 3.906vw;
      gap: 5.208vw;
      width: 100%;
    }
    .for-range {
      padding-top: 1.302vw;
    }

    .title {
      font-size: 4.688vw;
      line-height: 5.208vw;
      br {
        display: block;
      }
    }

    .name-auto {
      font-size: 2.604vw;
      line-height: 3.646vw;
    }

    .credit-calc {
      gap: 3.906vw;
      flex-direction: column;
    }

    .left {
      width: 92.188vw;
      gap: 3.255vw;

      .block {
      }

      .flex-container {
        h5 {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 2.083vw;
          line-height: 2.605vw;
          color: #010334;
          padding-bottom: 1.302vw;
        }

        .per {
          font-size: 1.823vw;
          line-height: 120%;
        }

        h6 {
          font-size: 4.167vw;
          padding-bottom: 1.302vw;
        }
      }

      .val-summ {
        font-weight: 700;
        font-size: 4.167vw;
        line-height: 120%;
      }
    }

    .right {
      width: 92.188vw;
      height: 42.708vw;
      border-radius: 1.302vw;
      margin-top: -1.302vw;

      .info-pay {
        width: 91.667vw;
        height: 42.188vw;
        border-radius: 1.302vw;
        background: #ffffff;
        padding: 5.077vw 0 0 5.077vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3.908vw;
        flex-direction: column;
      }

      .info-pay-block {
        width: 100%;
        gap: 13.021vw;
        position: relative;
      }

      .item {
        width: 29.818vw;
      }

      .title-range {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 300;
        font-size: 2.083vw;
        line-height: 2.605vw;
        color: #010334;
      }

      .persent {
        font-size: 5.208vw;
        line-height: 6.51vw;
        display: flex;
        align-items: center;
      }

      .summ {
        font-size: 5.208vw;
        line-height: 6.51vw;
        display: flex;
        align-items: center;
      }

      .yeahr {
        font-size: 5.208vw;
        line-height: 6.51vw;
        display: flex;
        align-items: center;
      }

      .economy {
        font-weight: 700;
        font-size: 2.605vw;
        line-height: 3.908vw;
        background: linear-gradient(
          105.42deg,
          #671578 9.76%,
          #404267 45.62%,
          #4499a2 72.73%
        );
        left: 42%;
        transform: translate(70%, 0);

        background: linear-gradient(
          105.42deg,
          #671578 9.76%,
          #404267 45.62%,
          #4499a2 72.73%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    input[type="range"] {
      width: 100%;
      height: 0.39vw;
      border-radius: 1.302vw;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 0.39vw;
      border-radius: 1.302vw;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2.605vw;
      height: 1.952vw;
      background: #eec16a;
      border: 0.13vw solid #ffffff;
      border-radius: 3.125vw;
      cursor: pointer;
      margin-top: -0.912vw;
      margin-left: -0.52vw;

      &:hover {
        border: 0.26vw solid gray;
      }
    }

    .checkbox__text {
      padding: 0 0 0 4.948vw;
    }

    .checkbox__text:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 2.605vw;
      height: 2.605vw;
      border-radius: 0.362vw;
      border: 0.13vw solid #eec16a;
    }

    .checkbox__text:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.302vw;
      transform: translate(-50%, -50%);
      width: 1.302vw;
      height: 1.302vw;
      border-radius: 0.208vw;
    }
  }
  .form-for-credit,
  .all-form {
    display: flex;
    flex-direction: column;

    .title-form {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 4.688vw;
      line-height: 5.859vw;
      text-align: center;
      color: #1a1a1a;
      padding-top: 0;
      padding-bottom: 2.212vw;
    }

    .subtitle-form {
      font-size: 2.605vw;
      line-height: 3.908vw;
      text-align: center;
      padding-bottom: 2vw;
      align-self: center;

      width: 78.125vw;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2.93vw;
    }

    .block-input {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3.4vw;
    }

    .input-name {
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.173vw 2.605vw 1.173vw 7.292vw;
        width: 45.052vw;
        height: 7.813vw;
        background: #f1f4f7;
        border-radius: 1.302vw;
        background-image: url(../img/fio.png);
        background-repeat: no-repeat;
        background-position: 2.605vw center;
        background-size: 2.345vw;
        position: relative;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #010334;
        &::placeholder {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 2.083vw;
          line-height: 3.385vw;
          color: #abafbc;
          position: absolute;
          top: 50%;
          left: 7.5vw;
          transform: translate(0, -50%);
        }
      }
    }

    .input-tel {
      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.173vw 2.605vw 1.173vw 7.292vw;
        width: 45.052vw;
        height: 7.813vw;
        background: #f1f4f7;
        border-radius: 1.302vw;
        background-image: url(../img/telinput.png);
        background-repeat: no-repeat;
        background-position: 2.605vw center;
        background-size: 2.345vw;
        position: relative;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #010334;
        &::placeholder {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 2.083vw;
          line-height: 3.385vw;
          color: #abafbc;
          position: absolute;
          top: 50%;
          left: 7.5vw;
          transform: translate(0, -50%);
        }
      }
    }

    .button-sub {
      button {
        width: 45.052vw;
        height: 8.052vw;
        box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
          0vw 0.13vw 0.39vw rgba(0, 0, 0, 0.1);
        border-radius: 1.302vw;
        font-size: 2.605vw;
        line-height: 2.865vw;
      }
    }

    .agree-input {
      label {
        gap: 2.345vw;
        font-size: 2.083vw;
        line-height: 3.515vw;
      }
    }
    .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .checkbox__text {
      position: relative;
      padding: 0 0 0 4.948vw;
      cursor: pointer;
    }

    .checkbox__text:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 2.605vw;
      height: 2.605vw;
      border-radius: 0.362vw;
      border: 0.13vw solid #eec16a;
      transition: 0.2s;
    }

    .checkbox__text:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 1.302vw;
      transform: translate(-50%, -50%);
      width: 1.302vw;
      height: 1.302vw;
      background: #eec16a;
      opacity: 0;
      border-radius: 0.208vw;
      transition: 0.3s ease-in-out;
    }

    .checkbox input:checked + .checkbox__text:before {
      background: transparent;
    }

    .checkbox input:checked + .checkbox__text:after {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
  }
}
@media only screen and (max-width: 600px) {
  .credit-calc-block {
    padding: 20.001vw 0;

    .content {
      border-radius: 2.666vw;
      padding: 10.934vw 4.267vw;
      gap: 9.333vw;
      width: 100%;
    }
    .for-range {
      padding-top: 2.666vw;
    }

    .title {
      font-size: 8vw;
      line-height: 10.133vw;
      br {
        display: block;
      }
    }

    .name-auto {
      font-size: 5.333vw;
      line-height: 7.467vw;
    }

    .credit-calc {
      gap: 7.999vw;
      flex-direction: column;
    }

    .left {
      width: 91.467vw;
      gap: 5.333vw;

      .block {
      }

      .flex-container {
        h5 {
          font-size: 3.2vw;
          line-height: 4vw;
          padding-bottom: 2.666vw;
        }

        .per {
          font-size: 3.2vw;
          line-height: 120%;
        }

        h6 {
          font-size: 6.4vw;
          line-height: 120%;
          padding-bottom: 2.666vw;
        }
      }

      .val-summ {
        font-size: 6.4vw;
        line-height: 120%;
      }
    }

    .right {
      width: 91.468vw;
      height: 78.667vw;
      border-radius: 2.666vw;
      margin-top: -2.666vw;
      &.info-pay-right{
        width: 91.467vw;
height: 60.8vw;

      }

      .info-pay {
        width: 90.401vw;
        height: 77.6vw;
        border-radius: 2.666vw;
        background: #ffffff;
        padding: 8.533vw 0 0 9.333vw;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5.337vw;
        flex-direction: column;

        &.info-pay-kard{
          width: 90.4vw;
height: 59.733vw;

        }
      }

      .info-pay-block {
        width: 100%;
        gap: 8vw;
        position: relative;
        &:nth-child(2) {
          flex-direction: column;
        }
      }

      .item {
        width: 61.067vw;
      }

      .title-range {
        font-size: 3.2vw;
        line-height: 4vw;
      }

      .persent {
        font-size: 6.4vw;
        line-height: 8vw;
      }

      .summ {
        font-size: 6.4vw;
        line-height: 8vw;
      }

      .yeahr {
        font-size: 6.4vw;
        line-height: 8vw;
      }

      .economy {
        font-weight: 700;
        font-size: 4.267vw;
        line-height: 6.667vw;
        background: linear-gradient(
          105.42deg,
          #671578 9.76%,
          #404267 45.62%,
          #4499a2 72.73%
        );
        left: 0;
        transform: translate(0, 0);

        background: linear-gradient(
          105.42deg,
          #671578 9.76%,
          #404267 45.62%,
          #4499a2 72.73%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    input[type="range"] {
      width: 100%;
      height: 0.799vw;
      border-radius: 2.666vw;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 0.799vw;
      border-radius: 2.666vw;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 5.335vw;
      height: 3.998vw;
      background: #eec16a;
      border: 0.266vw solid #ffffff;
      border-radius: 6.4vw;
      cursor: pointer;
      margin-top: -1.868vw;
      margin-left: -1.065vw;

      &:hover {
        border: 0.533vw solid gray;
      }
    }

    .checkbox__text {
      padding: 0 0 0 10.134vw;
    }

    .checkbox__text:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 5.335vw;
      height: 5.335vw;
      border-radius: 0.741vw;
      border: 0.266vw solid #eec16a;
    }

    .checkbox__text:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 2.666vw;
      transform: translate(-50%, -50%);
      width: 2.666vw;
      height: 2.666vw;
      border-radius: 0.426vw;
    }
  }

  .form-for-credit,
  .all-form {
    form {
      display: flex;
      flex-direction: column;
      gap: 8vw;
    }

    .title-form {
      font-size: 5.333vw;
      line-height: 6.667vw;
      text-align: center;
    }

    .subtitle-form {
      font-size: 4.267vw;
      line-height: 6.133vw;
      padding-bottom: 4vw;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 8.533vw;
    }

    .block-input {
      display: flex;
      justify-content: flex-start;
      gap: 4vw;
    }

    .input-name {
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.4vw 5.333vw;
        width: 91.467vw;
        height: 13.333vw;
        background: #f1f4f7;
        border-radius: 2.667vw;
        background-image: url(../img/fio.png);
        background-repeat: no-repeat;
        background-position: 5.333vw center;
        background-size: 4.267vw 4.8vw;
        position: relative;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 4.267vw;
        line-height: 6.933vw;
        color: #010334;
        &::placeholder {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 4.267vw;
          line-height: 6.933vw;
          color: #abafbc;
          position: absolute;
          top: 50%;
          left: 13.333vw;
          transform: translate(0, -50%);
        }
      }
    }

    .input-tel {
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.4vw 5.333vw;
        width: 91.467vw;
        height: 13.333vw;
        background: #f1f4f7;
        border-radius: 2.667vw;
        background-image: url(../img/telinput.png);
        background-repeat: no-repeat;
        background-position: 5.333vw center;
        background-size: 4.8vw 4.8vw;
        position: relative;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 4.267vw;
        line-height: 6.933vw;
        color: #010334;
        &::placeholder {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 4.267vw;
          line-height: 6.933vw;
          color: #abafbc;
          position: absolute;
          top: 50%;
          left: 13.333vw;
          transform: translate(0, -50%);
        }
      }
    }

    .button-sub {
      button {
        width: 91.467vw;
        height: 13.333vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eec16a;
        box-shadow: 0vw 0.267vw 0.533vw rgba(0, 0, 0, 0.06),
          0vw 0.267vw 0.8vw rgba(0, 0, 0, 0.1);
        border-radius: 2.667vw;
        font-weight: 800;
        font-size: 4.267vw;
        line-height: 5.867vw;

        &:hover {
          transition: 0.3s ease-in-out;
          background: #fbd07c;
          box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
            0vw 0.13vw 0.391vw rgba(0, 0, 0, 0.1);
        }
      }
    }

    .agree-input {
      label {
        gap: 4.803vw;
        font-size: 4.266vw;
        line-height: 7.199vw;
      }
    }
    .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .checkbox__text {
      position: relative;
      padding: 0 0 0 10.134vw;
      cursor: pointer;
    }

    .checkbox__text:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 5.335vw;
      height: 5.335vw;
      border-radius: 0.741vw;
      border: 0.266vw solid #eec16a;
      transition: 0.2s;
    }

    .checkbox__text:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 2.666vw;
      transform: translate(-50%, -50%);
      width: 2.666vw;
      height: 2.666vw;
      background: #eec16a;
      opacity: 0;
      border-radius: 0.426vw;
      transition: 0.3s ease-in-out;
    }

    .checkbox input:checked + .checkbox__text:before {
      background: transparent;
    }

    .checkbox input:checked + .checkbox__text:after {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
  }
}
