.credit-calc-block {
  background: #F1F4F7;
  padding: 5.208vw 0;

  .content {
    background: #FFFFFF;
    border-radius: 0.521vw;
    padding: 3.646vw 5.104vw;
    display: flex;
    flex-direction: column;
    gap: 1.563vw;

  }

  .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1A1A1A;
  }

  .name-auto {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.354vw;
    line-height: 1.458vw;
    text-align: center;
    color: #1A1A1A;
  }

  .credit-calc {
    display: flex;
    gap: 1.302vw;
    align-items: flex-end;
  }

  .left {
    width: 38.125vw;
    display: flex;
    flex-direction: column;
    gap: 1.563vw;

    .block {}

    .flex-container {
      &.for-range {
        display: flex;
        justify-content: space-between;
      }

      h5 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.042vw;
        color: #010334;
        padding-bottom: 0.521vw;
      }

      .per {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 500;
        font-size: 0.729vw;
        line-height: 120%;
        align-items: center;
        color: #585B79;
      }

      h6 {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 1.667vw;
        line-height: 120%;
        color: #1A1A1A;
        padding-bottom: 0.521vw;
      }
    }

    .val-summ {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1A1A1A;
    }

  }

  .right {
    width: 25.417vw;
    height: 16.719vw;
    border-radius: 0.521vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(103.38deg, #671578 -23.88%, #404267 41.9%, #4499A2 91.64%);

    .info-pay {
      width: 25.26vw;
      height: 16.563vw;
      border-radius: 0.521vw;
      background: #FFFFFF;
      padding: 2.031vw 0 0 2.031vw;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.563vw;
      flex-direction: column;
    }

    .info-pay-block {
      display: flex;
      gap: 3.438vw;
      align-items: flex-start;
      justify-content: flex-start;

    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.208vw;
    }

    .title-range {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 300;
      font-size: 0.833vw;
      line-height: 1.042vw;
      color: #010334;

    }

    .persent {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1A1A1A;
    }

    .summ {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1A1A1A;
    }

    .yeahr {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
      line-height: 2.604vw;
      display: flex;
      align-items: center;
      color: #1A1A1A;
    }

    .economy {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 1.042vw;
      line-height: 1.563vw;
      background: linear-gradient(105.42deg, #671578 9.76%, #404267 45.62%, #4499A2 72.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  .form-for-credit {
    display: flex;
    flex-direction: column;

    .title-form {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 900;
      font-size: 1.667vw;
      line-height: 2.083vw;
      text-align: center;
      color: #1A1A1A;
      padding-top: 1.042vw;
      padding-bottom: 0.885vw;
    }

    .subtitle-form {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 1.042vw;
      line-height: 1.563vw;
      text-align: center;
      color: #010334;
      padding-bottom: 1.667vw;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.172vw;

    }

    .block-input {
      display: flex;
      justify-content: flex-start;
      gap: 1.25vw;
    }

    .input-name {
      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.469vw 1.042vw 0.469vw 2.917vw;
        width: 31.771vw;
        height: 3.125vw;
        background: #F1F4F7;
        border-radius: 0.521vw;
        background-image: url(../img/fio.png);
        background-repeat: no-repeat;
        background-position: 1.042vw center;
        background-size: 0.938vw;
      }
    }

    .input-tel {
      input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.469vw 1.042vw 0.469vw 2.917vw;
        width: 31.771vw;
        height: 3.125vw;
        background: #F1F4F7;
        border-radius: 0.521vw;
        background-image: url(../img/telinput.png);
        background-repeat: no-repeat;
        background-position: 1.042vw center;
        background-size: 0.938vw;

      }
    }

    .button-sub {
      button {
        width: 31.771vw;
        height: 3.221vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EEC16A;
        box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06), 0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
        border-radius: 0.521vw;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 800;
        font-size: 1.042vw;
        line-height: 1.146vw;
        text-transform: uppercase;
        color: #1A1A1A;
      }


    }

    .agree-input {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        gap: 0.938vw;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.406vw;
        color: #010334;

        span {
          color: #EEC16A;

        }
      }
    }
  }

  input[type="range"] {
    width: 100%;
    height: 0.156vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.521vw;
    background: #E4E4E4;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.156vw;
    border-radius: 0.521vw;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.042vw;
    height: 0.781vw;
    background: #EEC16A;
    border: 0.052vw solid #FFFFFF;
    border-radius: 1.25vw;
    cursor: pointer;
    margin-top: -0.365vw;
    margin-left: -0.208vw;

    &:hover {
      border: 0.104vw solid gray;
    }
  }

  .checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox__text {
    position: relative;
    padding: 0 0 0 1.979vw;
    cursor: pointer;
  }

  .checkbox__text:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 1.042vw;
    height: 1.042vw;
    border-radius: 0.145vw;
    border: 0.052vw solid #EEC16A;
    transition: .2s;
  }

  .checkbox__text:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.521vw;
    transform: translate(-50%, -50%);
    width: 0.521vw;
    height: 0.521vw;
    background: #EEC16A;
    opacity: 0;
    border-radius: 0.083vw;
    transition: .3s ease-in-out;
  }

  .checkbox input:checked+.checkbox__text:before {
    background: transparent;
  }

  .checkbox input:checked+.checkbox__text:after {
    opacity: 1;
    transition: .3s ease-in-out;
  }


}