.complectation-auto {
  padding: 4.531vw 0 3.646vw 0;


  .content {
    display: flex;
    flex-direction: column;
    gap: 2.135vw;
    align-items: flex-start;

  }

  .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    align-self: center;
    text-transform: uppercase;
    color: #1A1A1A;
  }

  .complectation-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 36.458vw;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1.302vw;
    column-gap: 3.646vw;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 0.833vw
  }

  .item-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.042vw;
    line-height: 1.354vw;
    color: #1A1A1A;
  }

  .item-list {
    display: flex;
    flex-direction: column;
    gap: 0.417vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #000000;

    li {
      position: relative;
      padding-left: 1.042vw;

      &::before {
        content: "";
        position: absolute;
        width: 0.469vw;
        height: 0.469vw;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        background: linear-gradient(110.84deg, #671578 7.97%, #404267 52.12%, #4499A2 85.51%);
      }
    }
  }
}