.footer {
  background: linear-gradient(103.38deg, #671578 -23.88%, #404267 41.9%, #4499A2 91.64%);
  backdrop-filter: blur(0.26vw);


  .content {
    padding: 3.073vw 0 0 0;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1.979vw;
    border-bottom: 0.052vw solid rgba(255, 255, 255, 0.1);
  }

  .block_logo {
    display: flex;
    flex-direction: column;
    gap: 1.563vw;

  }

  .footer_logo {
    width: 5.729vw;
    height: 2.083vw;
    display: block;

    img {
      width: 100%;
    }
  }

  .footer_tel {
    display: flex;
    flex-direction: column;
    gap: 0.26vw;
  }

  .tel {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.938vw;
      height: 0.938vw;
      background-image: url(../img/footer-tel.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }

    a {
      color: #FFFFFF;
    }
  }

  .mail {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 0.938vw;
    line-height: 1.354vw;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.99vw;
      height: 0.781vw;
      background-image: url(../img/footer-mail.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    a {
      color: #FFFFFF;
    }

  }

  .block_nav {
    display: flex;
    gap: 8.073vw;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
  }

  .page_link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.146vw;
    line-height: 1.354vw;
    color: #FFFFFF;
  }

  .block_contacts {
    display: flex;
    flex-direction: column;
    gap: 1.563vw;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 0.26vw;
  }

  .adress {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #FFFFFF;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      width: 0.729vw;
      height: 0.833vw;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-image: url(../img/footer-adress.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .time {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #FFFFFF;
    position: relative;
    padding-left: 1.458vw;
   

    &::before {
      content: "";
      position: absolute;
      width: 0.938vw;
      height: 0.938vw;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-image: url(../img/footer-clock.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }


  }

  .footer_button {
    width: 14.375vw;
    height: 2.083vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEC16A;
    border-radius: 0.417vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 0.833vw;
    line-height: 1.146vw;
    color: #1A1A1A;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #fbd07c;
      transition: 0.3s ease-in-out;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
        0px 1px 3px rgba(0, 0, 0, 0.1);
      color: #1A1A1A;
    }
  }

  .footer-down {
    padding: 1.458vw 0 1.354vw 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-down {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }

}