.footer {
  background: linear-gradient(
    103.38deg,
    #671578 -23.88%,
    #404267 41.9%,
    #4499a2 91.64%
  );
  backdrop-filter: blur(0.26vw);

  .content {
    padding: 3.073vw 0 0 0;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1.979vw;
    border-bottom: 0.052vw solid rgba(255, 255, 255, 0.1);
  }

  .block_logo {
    display: flex;
    flex-direction: column;
    gap: 1.563vw;
  }

  .footer_logo {
    width: 5.729vw;
    height: 2.083vw;
    display: block;

    img {
      width: 100%;
    }
  }

  .footer_tel {
    display: flex;
    flex-direction: column;
    gap: 0.26vw;
  }

  .tel {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.938vw;
      height: 0.938vw;
      background-image: url(../img/footer-tel.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }

    a {
      color: #ffffff;
    }
  }

  .mail {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 0.938vw;
    line-height: 1.354vw;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.99vw;
      height: 0.781vw;
      background-image: url(../img/footer-mail.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    a {
      color: #ffffff;
    }
  }

  .block_nav {
    display: flex;
    gap: 8.073vw;
  }

  .blocks {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
  }

  .page_link {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-size: 1.146vw;
    line-height: 1.354vw;
    color: #ffffff;
  }

  .block_contacts {
    display: flex;
    flex-direction: column;
    gap: 1.563vw;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 0.26vw;
  }

  .adress {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #ffffff;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      width: 0.729vw;
      height: 0.833vw;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-image: url(../img/footer-adress.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .time {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #ffffff;
    position: relative;
    padding-left: 1.458vw;

    &::before {
      content: "";
      position: absolute;
      width: 0.938vw;
      height: 0.938vw;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      background-image: url(../img/footer-clock.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  .footer_button {
    width: 14.375vw;
    height: 2.083vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eec16a;
    border-radius: 0.417vw;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 0.833vw;
    line-height: 1.146vw;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background: #fbd07c;
      transition: 0.3s ease-in-out;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
        0px 1px 3px rgba(0, 0, 0, 0.1);
      color: #1a1a1a;
    }
  }

  .footer-down {
    padding: 1.458vw 0 1.354vw 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-down {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #ffffff;
      opacity: 0.5;
    }
  }
  
}
.popup{
  display: none;
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ubuntu-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/ubuntu-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/ubuntu-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
.development {
  overflow: hidden;
  width: 100%;
  height: 2.604vw;
  background: transparent;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    padding: 0 0.781vw;
    width: 10.938vw;
    height: 1.563vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.365vw;
    gap: 0;
    background-image: url(../img/webmedia-border.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    img {
      position: absolute;
      left: 0vw;
      width: 2.083vw;
      height: auto;
      transform: translateY(-10%);
    }
    span {
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 0.729vw;
      line-height: 0.833vw;
      color: #e3e3e3;
    }
    &:hover {
      animation: 0.35s tremor ease-out;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .development {
    height: 2.93vw;
    border-top: none;
    a {
      padding: 0 0.977vw;
      width: 15.625vw;
      height: 1.953vw;
      border-radius: 0.488vw;
      background-image: url(../img/webmedia-border-tablet.svg);
      img {
        width: 2.93vw;
      }
      span {
        font-size: 1.074vw;
        line-height: 1.172vw;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .development {
    height: 8vw;
    border-top: none;
    a {
      padding: 0 2.667vw;
      width: 42.667vw;
      height: 5.333vw;
      border-radius: 1.333vw;
      img {
        width: 8vw;
      }
      span {
        font-size: 2.933vw;
        line-height: 3.2vw;
      }
    }
  }
}
@keyframes tremor {
  0% {
    transform: translateX(-0.5%);
  }
  25% {
    transform: translateX(0.5%);
  }
  50% {
    transform: translateX(-0.5%);
  }
  75% {
    transform: translateX(0.5%);
  }
  100% {
    transform: translateX(-0.5%);
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    background: linear-gradient(
      103.38deg,
      #671578 -23.88%,
      #404267 41.9%,
      #4499a2 91.64%
    );
    backdrop-filter: blur(0.65vw);

    .content {
      padding: 7.683vw 0 0 0;
    }

    .footer-top {
      padding-bottom: 7.813vw;
      border-bottom: 0.13vw solid rgba(255, 255, 255, 0.1);
    }

    .block_logo {
      gap: 3.908vw;
    }

    .footer_logo {
      width: 14.323vw;
      height: 5.208vw;

      img {
        width: 100%;
      }
    }

    .footer_tel {
      gap: 0.65vw;
    }

    .tel {
      font-size: 2.345vw;
      line-height: 3.385vw;
      padding-left: 3.645vw;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 2.345vw;
        height: 2.345vw;
        background-image: url(../img/footer-tel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
      }
    }

    .mail {
      font-size: 2.345vw;
      line-height: 3.385vw;
      position: relative;
      padding-left: 3.645vw;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 2.475vw;
        height: 1.952vw;
        background-image: url(../img/footer-mail.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    .block_nav {
      display: flex;
      gap: 2.083vw;
      flex-direction: column;
    }

    .blocks {
      display: flex;
      flex-direction: column;
      gap: 2.083vw;
      align-items: center;

      &:first-child {
        a:first-child {
          display: none;
        }
      }
    }

    .page_link {
      color: #ffffff;
      font-size: 2.083vw;
      line-height: 3.385vw;
      font-weight: 600;
    }

    .block_contacts {
      gap: 2.604vw;
      width: 30.469vw;
    }

    .contacts {
      gap: 0.65vw;
    }

    .adress {
      font-size: 1.823vw;
      line-height: 3.385vw;
      color: #ffffff;
      position: relative;
      padding-left: 3.645vw;

      &::before {
        content: "";
        position: absolute;
        width: 1.823vw;
        height: 2.083vw;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url(../img/footer-adress.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    .time {
      font-size: 1.823vw;
      line-height: 3.385vw;
      color: #ffffff;
      position: relative;
      padding-left: 3.645vw;

      &::before {
        content: "";
        position: absolute;
        width: 2.345vw;
        height: 2.345vw;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url(../img/footer-clock.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }

    .footer_button {
      width: 30.469vw;
      height: 5.208vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eec16a;
      border-radius: 1.042vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 2.083vw;
      line-height: 2.865vw;
      color: #1a1a1a;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        background: #fbd07c;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 0.399px 0.799px rgba(0, 0, 0, 0.06),
          0px 0.399px 1.198px rgba(0, 0, 0, 0.1);
        color: #1a1a1a;
      }
    }

    .footer-down {
      padding: 3.645vw 0 3.385vw 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-down {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #ffffff;
        opacity: 0.5;
      }
    }
  }
}
