.get-autocredit {
  padding: 4.688vw 0 5.208vw 0;
  background: #f1f4f7;

  .content {
    display: flex;
    gap: 1.25vw;
  }

  .title {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1a1a1a;
    padding-bottom: 2.604vw;
  }

  .form-autocredit {
    width: 36.875vw;
  }

  .form-text {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.354vw;
    line-height: 1.458vw;
    color: #1a1a1a;
  }

  .text-about {
    width: 36.875vw;
    display: flex;
    flex-direction: column;
    gap: 1.667vw;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #000000;

    .text-block {
    }

    .ul-text-about {
      span {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 1.042vw;
        line-height: 1.354vw;
        color: #1a1a1a;
        padding-bottom: 0.417vw;
      }

      li {
        position: relative;
        margin-top: 0.417vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 500;
        font-size: 0.938vw;
        line-height: 1.354vw;
        color: #000000;
        padding-left: 1.146vw;

        &::before {
          content: "";
          position: absolute;
          width: 0.469vw;
          height: 0.469vw;
          left: 0.156vw;
          top: 50%;
          transform: translate(0, -50%);
          background: #eec16a;
          border-radius: 50%;
        }
      }
    }
  }
}

.form-autocredit {
  .chose-auto-block {
    padding-top: 1.667vw;
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
  }
  .select-input-block {
    select {
      width: 36.875vw;
      height: 3.125vw;
      background: #ffffff;
      border-radius: 0.521vw;
      padding-left: 1.042vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #abafbc;
    }
    &.block-one {
      display: flex;
      gap: 1.042vw;
      select {
        width: 17.917vw;
        height: 3.125vw;
        background: #ffffff;
        padding-left: 1.042vw;
        border-radius: 0.521vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 1.354vw;
        color: #abafbc;
      }
    }
  }
  .calc-auto-block {
    padding-top: 2.604vw;
  }
  .content {
    width: 100%;
  }
  .credit-calc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.719vw;
    padding-top: 1.667vw;
  }

  .form-for-credit.for-autocredit {
    padding-top: 2.604vw;

    .block-input {
      display: flex;
      flex-direction: column;
      &.input-for-autocredit{
        flex-wrap: wrap;
        height: 7.813vw;
        row-gap: 0.521vw;
        column-gap: 1.25vw;
        margin-top: 1.667vw;
      }
    }

    .input-name,
    .input-tel,
    .input-date,
    .input-sity {
      background: #ffffff;
      border-radius: 0.521vw;
      width: 17.813vw;
      height: 3.125vw;
      display: flex;
      align-items: center;
      input {
        background: #ffffff;
        border-radius: 0.521vw;
        width: 17.813vw;
        height: 3.125vw;
        padding-left: 1.042vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #abafbc;
      }
    }

    .button-sub {
      button{
        width: 36.875vw;
      }
    }
  }
  .block {
    width: 100%;
  }
  .flex-container {
    &.for-range {
      display: flex;
      justify-content: space-between;
    }

    h5 {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.042vw;
      color: #010334;
      padding-bottom: 0.521vw;
    }

    .per {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 0.729vw;
      line-height: 120%;
      align-items: center;
      color: #585b79;
    }

    h6 {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 1.667vw;
      line-height: 120%;
      color: #1a1a1a;
      padding-bottom: 0.521vw;
    }
  }

  .val-summ {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 2.083vw;
    line-height: 2.604vw;
    display: flex;
    align-items: center;
    color: #1a1a1a;
  }

  input[type="range"] {
    width: 100%;
    height: 0.156vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.521vw;
    background: #e4e4e4;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.156vw;
    border-radius: 0.521vw;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.042vw;
    height: 0.781vw;
    background: #eec16a;
    border: 0.052vw solid #ffffff;
    border-radius: 1.25vw;
    cursor: pointer;
    margin-top: -0.365vw;
    margin-left: -0.208vw;

    &:hover {
      border: 0.104vw solid gray;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .get-autocredit {
    padding: 6.771vw 0 12.5vw 0;
    background: #f1f4f7;

    .content {
      display: flex;
      gap: 0vw;
    }

    .title {
      font-size: 4.688vw;
      line-height: 5.208vw;
      padding-bottom: 12.109vw;
    }

    .form-autocredit {
      width: 92.188vw;
    }

    .form-text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 3.385vw;
      line-height: 3.645vw;
      color: #1a1a1a;
    }
    .text-about {
      display: none;
    }
  }

  .form-autocredit {
    .chose-auto-block {
      padding-top: 4.167vw;
      display: flex;
      flex-direction: column;
      gap: 2.605vw;
    }
    .select-input-block {
      select {
        width: 92.188vw;
        height: 7.813vw;
        background: #ffffff;
        border-radius: 1.302vw;
        padding-left: 2.605vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #abafbc;
      }
      &.block-one {
        display: flex;
        gap: 2.605vw;
        select {
          width: 44.792vw;
          height: 7.813vw;
          background: #ffffff;
          padding-left: 2.605vw;
          border-radius: 1.302vw;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 2.083vw;
          line-height: 3.385vw;
          color: #abafbc;
        }
      }
    }
    .calc-auto-block {
      padding-top: 6.51vw;
    }
    .content {
      width: 100%;
    }
    .credit-calc {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4.298vw;
      padding-top: 4.167vw;
    }
  
    .form-for-credit.for-autocredit {
      padding-top: 6.51vw;
  
      .block-input {
        display: flex;
        flex-direction: column;
        &.input-for-autocredit{
          flex-wrap: wrap;
          height: 19.533vw;
          row-gap: 1.302vw;
          column-gap: 3.125vw;
          margin-top: 4.167vw;
        }
      }
  
      .input-name,
      .input-tel,
      .input-date,
      .input-sity {
        background: #ffffff;
        border-radius: 1.302vw;
        width: 44.533vw;
        height: 7.813vw;
        display: flex;
        align-items: center;
        input {
          background: #ffffff;
          border-radius: 1.302vw;
          width: 44.533vw;
          height: 7.813vw;
          padding-left: 2.605vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #abafbc;
        }
      }
  
      .button-sub {
        button{
          width: 92.188vw;
        }
      }
    }
    .block {
      width: 100%;
    }
    .flex-container {
      &.for-range {
        display: flex;
        justify-content: space-between;
      }
  
      h5 {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 2.605vw;
        color: #010334;
        padding-bottom: 1.302vw;
      }
  
      .per {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 500;
        font-size: 1.823vw;
        line-height: 120%;
        align-items: center;
        color: #585b79;
      }
  
      h6 {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 700;
        font-size: 4.167vw;
        line-height: 120%;
        color: #1a1a1a;
        padding-bottom: 1.302vw;
      }
    }
  
    .val-summ {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 5.208vw;
      line-height: 6.51vw;
      display: flex;
      align-items: center;
      color: #1a1a1a;
    }
  
    input[type="range"] {
      width: 100%;
      height: 0.39vw;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 1.302vw;
      background: #e4e4e4;
    }
  
    input[type="range"]::-webkit-slider-runnable-track {
      height: 0.39vw;
      border-radius: 1.302vw;
      background: transparent;
    }
  
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2.605vw;
      height: 1.952vw;
      background: #eec16a;
      border: 0.13vw solid #ffffff;
      border-radius: 3.125vw;
      cursor: pointer;
      margin-top: -0.912vw;
      margin-left: -0.52vw;
  
      &:hover {
        border: 0.26vw solid gray;
      }
    }
  }
}
