.get-autocredit {
  padding: 4.688vw 0 5.208vw 0;
  background: #F1F4F7;


  .content {
    display: flex;
    gap: 1.25vw;
  }

  .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1A1A1A;
    padding-bottom: 2.604vw;

  }

  .form-autocredit {
    width: 36.875vw;
  }

  .form-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.354vw;
    line-height: 1.458vw;
    color: #1A1A1A;
  }

  .text-about {
    width: 36.875vw;
    display: flex;
    flex-direction: column;
    gap: 1.667vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.938vw;
    line-height: 1.354vw;
    color: #000000;

    .text-block {}

    .ul-text-about {

      span {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 900;
        font-size: 1.042vw;
        line-height: 1.354vw;
        color: #1A1A1A;
        padding-bottom: 0.417vw;
      }

      li {
        position: relative;
        margin-top: 0.417vw;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 500;
        font-size: 0.938vw;
        line-height: 1.354vw;
        color: #000000;
        padding-left: 1.146vw;



        &::before {
          content: "";
          position: absolute;
          width: 0.469vw;
          height: 0.469vw;
          left: 0.156vw;
          top: 50%;
          transform: translate(0, -50%);
          background: #EEC16A;
          border-radius: 50%;

        }
      }
    }
  }

}

@media only screen and (max-width:1200px){
  .get-autocredit {
    padding: 6.771vw 0 12.5vw 0;
    background: #F1F4F7;
  
  
    .content {
      display: flex;
      gap: 0vw;
    }
  
    .title {
      font-size: 4.688vw;
      line-height: 5.208vw;
      padding-bottom: 12.109vw;
  
    }
  
    .form-autocredit {
      width: 92.188vw;
    }
  
    .form-text {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 900;
      font-size: 3.385vw;
      line-height: 3.645vw;
      color: #1A1A1A;
    }
    .text-about{
      display: none;
    }
    
  
  }
}