.header {
  position: fixed;
  width: 100%;
  z-index: 1000;

  .header__top {
    background-image: url(../img/topBG.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    height: 3.438vw;
    transition: 0.3s ease-in-out;

    &.close-banner {
      transition: 0.3s ease-in-out;
      height: 0;
      visibility: hidden;
    }
  }

  .header__top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item_first {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.042vw;
    line-height: 1.563vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .item_two {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 1.042vw;
    line-height: 1.563vw;
    text-align: center;
    color: #ffffff;
  }

  .button_three {
    background: rgba(255, 255, 255, 0.17);
    box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
      0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
    border-radius: 0.521vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.813vw;
    height: 2.083vw;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 0.938vw;
    line-height: 1.146vw;
    text-transform: uppercase;
    color: #ffffff;
  }

  .close {
    position: absolute;
    width: 1.667vw;
    height: 1.667vw;
    left: calc(50% - 1.667vw / 2 + 46.823vw);
    top: calc(50% - 1.667vw / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 0.833vw;
      height: 0.833vw;
    }
  }

  .header__down {
    background: #ffffff;
    border-bottom: 0.052vw solid rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(0.26vw);
  }

  .header__down_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.615vw 0;
  }

  .header__logo {
    width: 5.729vw;
    height: 2.083vw;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .header__nav {
    .ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.083vw;
      padding: 0 11.25vw 0 3.49vw;

      .li {
        .header_link {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 600;
          font-size: 1.042vw;
          line-height: 1.354vw;
          color: #1a1a1a;
          display: flex;
          height: 1.719vw;
          align-items: center;
          position: relative;
          transition: 0.3s ease-in-out;
          &::after {
            content: "";
            transition: 0.3s ease-in-out;
            width: 100%;
            height: 0.104vw;
            position: absolute;
            bottom: 0;
            left: 0;
            background: transparent;
            opacity: 0;
            visibility: hidden;
          }
          &:hover {
            transition: 0.3s ease-in-out;
            // font-weight: 800;
            &::after {
              content: "";
              transition: 0.3s ease-in-out;
              width: 100%;
              height: 0.104vw;
              position: absolute;
              bottom: 0;
              left: 0;
              background: linear-gradient(
                  95.52deg,
                  #440551 0.7%,
                  #404267 55.29%,
                  #3c7a80 99.34%,
                  #3c7a80 99.34%
                ),
                #d9d9d9;
              opacity: 1;
              visibility: visible;
            }
          }

          &.active {
            font-family: "Mulish";
            font-style: normal;
            font-weight: 800;
            font-size: 1.042vw;
            line-height: 1.354vw;
            color: #1a1a1a;

            &::after {
              content: "";
              width: 100%;
              height: 0.104vw;
              position: absolute;
              bottom: 0;
              left: 0;
              opacity: 1;
              visibility: visible;
              background: linear-gradient(
                  95.52deg,
                  #440551 0.7%,
                  #404267 55.29%,
                  #3c7a80 99.34%,
                  #3c7a80 99.34%
                ),
                #d9d9d9;
            }
          }
        }
      }
    }
  }

  .header__adress {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 0.833vw;
    line-height: 1.354vw;
    color: #440d54;
    position: relative;
    padding-left: 1.302vw;
    height: 0.885vw;
    display: flex;
    align-items: center;
    margin-right: 4.896vw;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0.729vw;
      height: 0.885vw;
      background-image: url(../img/adressbef.png);
      background-repeat: no-repeat;
      background-size: 100%;
      transition: 0.3s ease-in-out;
    }

    span {
      height: 100%;
      border-bottom: 0.052vw solid #440d54;
      display: flex;
      align-items: center;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      &::before {
        transition: 0.3s ease-in-out;
        background-image: url(../img/adressbefyellow.png);
      }
      span {
        color: #fbd07c;
        transition: 0.3s ease-in-out;
        border-bottom: 0.052vw solid #fbd07c;
      }
    }
  }

  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.417vw 2.005vw 0.521vw 2.005vw;
    background: #eec16a;
    border-radius: 0.417vw;
    transition: 0.3s ease-in-out;

    a {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 0.833vw;
      line-height: 1.146vw;
      color: #1a1a1a;
    }

    &:hover {
      background: #fbd07c;
      transition: 0.3s ease-in-out;
      box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
        0vw 0.13vw 0.391vw rgba(0, 0, 0, 0.1);
      color: #1a1a1a;
    }
  }

  .header_counter {
    width: 2.604vw;
    height: 1.875vw;
    position: relative;
    margin-left: 3.75vw;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      path {
        transition: 0.3s ease-in-out;
        fill: url(#paint0_linear_501_626);
      }
    }
    &:hover {
      svg {
        path {
          fill: #fbd07c;
          transition: 0.3s ease-in-out;
        }
      }
    }
    span {
      position: absolute;
      width: 0.729vw;
      height: 0.729vw;
      left: 0.573vw;
      top: 0.938vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 0.573vw;
      line-height: 0.729vw;
      text-transform: uppercase;
      color: #ffffff;
      display: flex;
      justify-content: center;
    }
  }
  .menu-burger-icon {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    .header__top_content {
      padding-right: 6.51vw;
    }

    .header__top {
      background-image: url(../img/1200/TopLine1200.png);
      height: 8.594vw;
    }

    .item_first {
      font-size: 2.083vw;
      line-height: 3.125vw;
      width: 25.26vw;
    }

    .item_two {
      font-size: 1.823vw;
      line-height: 2.604vw;
      width: 19.141vw;
    }

    .button_three {
      border-radius: 1.302vw;
      width: 31.38vw;
      height: 5.208vw;
      font-size: 1.823vw;
      line-height: 3.125vw;
    }

    .close {
      width: 4.167vw;
      height: 4.167vw;
      left: calc(50% - 4.167vw / 2 + 44.922vw);
      top: calc(50% - 4.167vw / 2);

      img {
        width: 2.083vw;
        height: 2.083vw;
      }
    }

    .header__down {
      border-bottom: 0.13vw solid rgba(0, 0, 0, 0.06);
      backdrop-filter: blur(0.651vw);
    }

    .header__down_content {
      padding: 3.46vw 0;
    }

    .header__logo {
      width: 14.323vw;
      height: 5.208vw;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .header__nav {
      display: none;
      //сделать меню планшетное
    }

    .header__adress {
      font-size: 2.083vw;
      line-height: 7.813vw;
      padding-left: 3.255vw;
      margin-left: 3.906vw;
      height: 3.385vw;
      margin-right: 3.906vw;

      &::before {
        width: 1.823vw;
        height: 2.214vw;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      span {
        border-bottom: 0.13vw solid #440d54;
      }
    }

    .header__button {
      padding: 1.563vw 0 1.823vw 0;
      border-radius: 1.042vw;
      width: 19.792vw;

      a {
        font-size: 1.563vw;
        line-height: 2.865vw;
      }
    }

    .header_counter {
      width: 6.51vw;
      height: 4.688vw;
      margin-left: 3.906vw;

      span {
        width: 1.823vw;
        height: 1.823vw;
        left: 1.302vw;
        top: 2.344vw;
        font-size: 1.432vw;
        line-height: 1.823vw;
      }
    }
    .menu-burger-icon {
      display: block;
      margin-left: 4.557vw;
      width: 3.125vw;
      height: 3.125vw;
      cursor: pointer;
      img {
        width: 100%;
      }
    }

    .burger-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      overflow-y: scroll;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(0.26vw);
      z-index: 11000;
      transform: translate(100%,0);
      transition: 0.3s ease-in-out;
      &.active{
        transform: translate(0,0);
      transition: 0.3s ease-in-out;
      }
    }
    .wrapper {
      height: 147.526vw;
      display: flex;
      align-items: flex-end;
      position: relative;
    }
    .burger-close {
      position: absolute;
      right: 1.693vw;
      top: 1.823vw;
      cursor: pointer;
      width: 4.167vw;
      height: 4.167vw;
    }

    .right-part {
      width: 53.776vw;
      background: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 6.51vw 0;
    }
    .burger-logo {
      width: 14.323vw;
      height: 5.208vw;
      margin-bottom: 21.745vw;
      img {
        width: 100%;
      }
    }
    .burger-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5.208vw;
      margin-bottom: 28.776vw;
      a {
        cursor: pointer;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 600;
        font-size: 2.604vw;
        line-height: 3.385vw;
        color: #1a1a1a;
      }
    }
    .burger-contacts {
      display: flex;
      flex-direction: column;
      gap: 0.651vw;
      align-items: center;
      border-bottom: 0.13vw solid #363636;
      padding-bottom: 1.823vw;
      width: 100%;

      .tel {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 500;
        font-size: 2.344vw;
        line-height: 3.385vw;
        color: #010334;
        position: relative;
        padding-left: 3.646vw;
        &::before {
          content: "";
          width: 2.344vw;
          height: 2.344vw;
          background: url(../img/1200/phone-burger.png);
          background-size: 100%;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
      .mail {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.344vw;
        line-height: 3.385vw;
        color: #010334;
        position: relative;
        padding-left: 3.646vw;
        &::before {
          content: "";
          width: 2.474vw;
          height: 1.953vw;
          background: url(../img/1200/mail-burger.png);
          background-size: 100%;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }
    .button-form {
      .title-form {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 900;
        font-size: 2.604vw;
        line-height: 3.255vw;
        text-align: center;
        color: #1a1a1a;
        padding-top: 6.25vw;
        padding-bottom: 3.906vw;
      }
      .block-input {
        gap: 1.953vw;
      }
      .button-sub {
        font-size: 2.083vw;
        line-height: 2.865vw;
      }
      .agree-input {
        width: 36.589vw;
      }
      .checkbox__text {
        text-align: center;
      }
    }
  }
}
