.webp .otzyvy {

.slick-arrow.slick-next {
    background-size: contain!important;
    background-repeat: no-repeat! important;
}
.slick-arrow.slick-prev{
  background-size: contain!important;
  background-repeat: no-repeat! important;

}
}
.otzyvy {
  padding: 4.688vw 0 4.479vw 0;
  background: #F1F4F7;
  position: relative;
 
  .title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1A1A1A;
    padding-bottom: 3.281vw;
  }

  .slider-otzyvy-item {
    display: flex !important;
    gap: 1.25vw;
    justify-content: space-between;
    padding: 0 0.156vw;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17.213vw;
    height: 18.646vw;
    border-radius: 1.042vw;
    background: linear-gradient(103.38deg, #671578 -23.88%, #404267 41.9%, #4499A2 91.64%);
  }

  .item-content {
    width: 17.08vw;
    height: 18.542vw;
    background: #FFFFFF;
    backdrop-filter: blur(0.26vw);
    border-radius: 1.042vw;
    padding: 1.927vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .otzyv-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.25vw;
    line-height: 1.25vw;
    color: #1A1A1A;
    padding-bottom: 1.042vw;
  }

  .otzyv-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 0.833vw;
    line-height: 1.25vw;
    color: #1A1A1A;
  }

  .otzyv-autor {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 0.833vw;
    line-height: 1.25vw;
    color: #585B79;


  }

  /* Слайдер */
  .slick-list {
    overflow: hidden;
  }

  /* Лента слайдов */
  .slick-track {
    display: flex;
  }

  /* Стрелка */
  .slick-arrow {
    position: absolute;
    top: 60%;
    font-size: 0;
    z-index: 10;
    width: 3.125vw;
    height: 3.125vw;
    transform: translate(0, -50%);
  }

  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 6.813vw;
    background: url(../img/auto-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }

  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 6.813vw;
    background: url(../img/auto-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.302vw;
    position: absolute;
    bottom: 1.802vw;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    filter: drop-shadow(0vw 0.208vw 1.042vw rgba(0, 0, 0, 0.2));
  }

  .slick-dots li {
    list-style: none;
  }

  /* Элемент точки */
  .slick-dots li button {
    font-size: 0;
    width: 0.781vw;
    height: 0.781vw;
    border-radius: 2.604vw;
    transition: 0.3s ease-in-out;
    background: #585B79;
    opacity: 0.3;

  }

  /* Активная точка */
  .slick-dots li.slick-active button {
    font-size: 0;
    width: 2.848vw;
    height: 0.781vw;
    border-radius: 2.604vw;
    transition: 0.3s ease-in-out;
    background: #585B79;
    opacity: 1;
  }
}