.page_banner {
  position: relative;
  width: 100%;
  height: auto;

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.604vw 0;
  }

  .breadscrumbs {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-bottom: 1.25vw;

    a {
      width: 0.833vw;
      height: 0.833vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.521vw;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    span {
      margin-left: 0.521vw;
    }
  }

  .page-name {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 0.365vw;
  }

  .page-subtitle {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 2.188vw;
    color: #ffffff;
  }

  .page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eec16a;
    box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
      0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
    border-radius: 0.521vw;
    width: 17.813vw;
    padding: 0.938vw 0 1.042vw 0;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.042vw;
    line-height: 1.146vw;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-top: 2.188vw;
    cursor: pointer;
  }
  .banner-img-1200{
    display: none;
  }
  .banner-img-600{
    display: none;
  }
  .banner-img-1920 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .persent-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3.04vw;
    left: 43.667vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.685vw;
    line-height: 2.135vw;
    text-transform: uppercase;
    color: #FFFFFF;

    .big {
      font-weight: 900;
      font-size: 12.641vw;
      line-height: 15.885vw;

    }

    .little {
      font-weight: 900;
      font-size: 5.478vw;
      line-height: 6.875vw;

    }
  }
}
@media only screen and (max-width: 1200px){
  .page_banner {
    position: relative;
    width: 100%;
    height: auto;
  
    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 3.906vw 0 6.51vw 0;
    }
  
    .breadscrumbs {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 2.083vw;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #ffffff;
      padding-bottom: 5.469vw;
  
      a {
        width: 2.083vw;
        height: 2.083vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.302vw;
        cursor: pointer;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
  
      span {
        margin-left: 1.302vw;
      }
    }
  
    .page-name {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 900;
      font-size: 4.167vw;
      line-height: 5.208vw;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      padding-bottom: 3.125vw;
    }
  
    .page-subtitle {
      font-weight: 400;
      font-size: 3.125vw;
      line-height: 3.906vw;
      color: #ffffff;
    }
  
    .page-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eec16a;
      box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
        0vw 0.13vw 0.39vw rgba(0, 0, 0, 0.1);
      border-radius: 1.302vw;
      width: 45.053vw;
      padding: 2.345vw 0 2.605vw 0;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 800;
      font-size: 2.083vw;
    line-height: 2.865vw;
      text-transform: uppercase;
      color: #1a1a1a;
      margin-top: 9.115vw;
      cursor: pointer;
    }
  
    .banner-img-1920{
      display: none;
    }
    .banner-img-1200 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    .persent-banner {
      position: absolute;
      top: -3.906vw;
      left: 50vw;
      color: #FFFFFF;
      font-size: 2.604vw;
  
      .big {
        font-weight: 900;
        font-size: 16.276vw;
        line-height: 39.712vw;
  
      }
  
      .little {
        font-weight: 900;
        font-size: 6.51vw;
        line-height: 17.188vw;
  
      }
    }
  }
}
@media only screen and (max-width: 600px){
  .page_banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  
    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 7.999vw 0 10.667vw 0;
    }
  
    .breadscrumbs {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 4.266vw;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #ffffff;
      padding-bottom: 4.267vw;
  
      a {
        width: 4.266vw;
        height: 4.266vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2.666vw;
        cursor: pointer;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
  
      span {
        margin-left: 2.666vw;
      }
    }
  
    .page-name {
      font-size: 8vw;
      line-height: 10.667vw;
      padding-bottom: 2.667vw;
    }
  
    .page-subtitle {
      font-size: 5.333vw;
      line-height: 6.933vw;
      &.avtocredit-subtitle{
width: 55vw;
      }
      
    }
  
    .page-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eec16a;
      box-shadow: 0vw 0.266vw 0.533vw rgba(0, 0, 0, 0.06),
        0vw 0.266vw 0.799vw rgba(0, 0, 0, 0.1);
      border-radius: 2.666vw;
      width: 91.467vw;
      height: 13.333vw;
      padding: 0;
      width: 91.467vw;
      font-size: 4.267vw;
line-height: 5.867vw;
height: 13.333vw;
      text-transform: uppercase;
      color: #1a1a1a;
      margin-top: 52.267vw;
      cursor: pointer;
      &.trade-button{
        margin-top: 66.933vw;

      }
      &.cred-button{
        margin-top: 62.333vw;

      }
    }
  
    .banner-img-1920,.banner-img-1200{
      display: none;
    }
    .banner-img-600 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
      }
    }
  
    .persent-banner {
      position: absolute;
      top: 46.667vw;
      left: 4.533vw;
      color: #FFFFFF;
      font-size: 5.333vw;
  
      .big {
        font-weight: 900;
        font-size: 29.333vw;
        line-height: 29.333vw;
  
      }
  
      .little {
        font-weight: 900;
        font-size: 16vw;
        line-height: 17.333vw;
  
      }
    }
  }
}