.page_banner {
  position: relative;
  width: 100%;
  height: auto;

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2.604vw 0;
  }

  .breadscrumbs {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-bottom: 1.25vw;

    a {
      width: 0.833vw;
      height: 0.833vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.521vw;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    span {
      margin-left: 0.521vw;
    }
  }

  .page-name {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 0.365vw;
  }

  .page-subtitle {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 2.188vw;
    color: #ffffff;
  }

  .page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eec16a;
    box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
      0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
    border-radius: 0.521vw;
    width: 17.813vw;
    padding: 0.938vw 0 1.042vw 0;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.042vw;
    line-height: 1.146vw;
    text-transform: uppercase;
    color: #1a1a1a;
    margin-top: 2.188vw;
    cursor: pointer;
  }

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .persent-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3.04vw;
    left: 43.667vw;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 1.685vw;
    line-height: 2.135vw;
    text-transform: uppercase;
    color: #FFFFFF;

    .big {
      font-weight: 900;
      font-size: 12.641vw;
      line-height: 15.885vw;

    }

    .little {
      font-weight: 900;
      font-size: 5.478vw;
      line-height: 6.875vw;

    }
  }
}