.trade-in-block-main {
  background: #f1f4f7;
  padding: 5.208vw 0;

  form {
    display: flex;
    gap: 1.25vw;
    justify-content: space-between;
    padding-bottom: 2.604vw;

    .left-part {
      width: 31.771vw;
      display: flex;
      flex-direction: column;
      gap: 1.042vw;
    }

    .select-input-text {
      width: 28.646vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 1.042vw;
      line-height: 1.563vw;
      color: #010334;
    }
  }

  .first-block {
    background: #ffffff;
    border-radius: 0.521vw;
    display: flex;
    flex-direction: column;
    padding: 3.646vw 5.104vw;
    align-items: center;
  }

  .title-block {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    font-size: 2.396vw;
    line-height: 3.021vw;
    text-align: center;
    text-transform: uppercase;
    color: #1a1a1a;
    padding-bottom: 2.5vw;
  }

  .steps {
    width: 32.979vw;
    height: 2.396vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.26vw;
    padding-bottom: 4.688vw;

    .step-sircle {
      position: relative;
      background: #ffffff;
      border: 0.075vw solid #a2a8bd;
      border-radius: 2.396vw;
      width: 2.396vw;
      height: 2.396vw;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 1.198vw;
      line-height: 140%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a2a8bd;

      &.active {
        background: linear-gradient(
            96.97deg,
            #440551 -8.52%,
            #631279 -0.67%,
            #404267 68.68%,
            #3c7a80 99.19%,
            #3c7a80 99.19%
          ),
          #ffffff;
        border-radius: 2.396vw;
        color: #ffffff;
      }
      .text-sirsle {
        position: absolute;
        top: 3.021vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 0.833vw;
        line-height: 120%;
        color: #737885;
        width: 10.417vw;
        text-align: center;
        &.active {
          font-weight: 900;
          font-size: 0.833vw;
          line-height: 120%;
          color: #440d54;
        }
      }
    }

    .circle-line {
      width: 11.438vw;
      height: 0.104vw;
      background-color: rgba(171, 175, 188, 0.3);

      &.active {
        background: linear-gradient(
            95.52deg,
            #440551 0.7%,
            #404267 55.29%,
            #3c7a80 99.34%,
            #3c7a80 99.34%
          ),
          #ffffff;
      }
    }
  }

  .select-input-block {
    margin-bottom: 0.26vw;
    width: 31.771vw;

    select {
      background: #f1f4f7;
      height: 3.125vw;
      padding: 1.042vw;
      border-radius: 0.521vw;
      width: 100%;
      height: 100%;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 0.833vw;
      line-height: 1.354vw;
      color: #abafbc;
    }

    .name {
    }

    .count {
    }
  }

  .right-part {
    width: 31.771vw;
    border-radius: 0.521vw;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 0.521vw;
    }
  }

  .text {
  }

  .trade-form-btn {
    background: #eec16a;
    box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
      0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
    border-radius: 0.521vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.729vw 1.667vw 0.833vw;
    width: 31.771vw;
    height: 3.125vw;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    font-size: 1.042vw;
    line-height: 1.146vw;
    text-transform: uppercase;
    color: #1a1a1a;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      transition: 0.3s ease-in-out;
      background: #fbd07c;
      box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
        0vw 0.13vw 0.391vw rgba(0, 0, 0, 0.1);
    }
  }
}
@media only screen and (max-width: 1200px) {
  .trade-in-block-main {
    padding: 9.115vw 0 5.469vw 0;

    form {
      display: flex;
      gap: 2.604vw;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 0;

      .left-part {
        width: 79.427vw;
        display: flex;
        flex-direction: column;
        gap: 2.605vw;
      }

      .select-input-text {
        width: 71.615vw;
        font-family: "Mulish";
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 2.605vw;
        line-height: 3.908vw;
        color: #010334;
        align-self: center;
      }
    }

    .first-block {
      border-radius: 1.302vw;

      flex-direction: column;
      padding: 9.375vw 6.51vw 6.51vw 6.51vw;
      align-items: center;
    }

    .title-block {
      font-size: 4.688vw;
      line-height: 5.208vw;
      padding-bottom: 8.208vw;
    }

    .steps {
      width: 59.896vw;
      height: 5.99vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.65vw;
      padding-bottom: 12.115vw;

      .step-sircle {
        position: relative;
        background: #ffffff;
        border: 0.188vw solid #a2a8bd;
        border-radius: 5.99vw;
        width: 5.99vw;
        height: 5.99vw;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 600;
        font-size: 2.995vw;
        line-height: 140%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #a2a8bd;

        &.active {
          background: linear-gradient(
              96.97deg,
              #440551 -8.52%,
              #631279 -0.67%,
              #404267 68.68%,
              #3c7a80 99.19%,
              #3c7a80 99.19%
            ),
            #ffffff;
          border-radius: 5.99vw;
          color: #ffffff;
        }
        .text-sirsle {
          position: absolute;
          top: 7.552vw;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 2.083vw;
          line-height: 120%;
          color: #737885;
          width: 26.042vw;
          text-align: center;
          &.active {
            font-weight: 900;
            font-size: 2.083vw;
            line-height: 120%;
            color: #440d54;
          }
        }
      }

      .circle-line {
        width: 17.318vw;
        height: 0.26vw;
        background-color: rgba(171, 175, 188, 0.3);

        &.active {
          background: linear-gradient(
              95.52deg,
              #440551 0.7%,
              #404267 55.29%,
              #3c7a80 99.34%,
              #3c7a80 99.34%
            ),
            #ffffff;
        }
      }
    }

    .select-input-block {
      margin-bottom: 0.65vw;
      width: 79.427vw;
      height: 6.51vw;

      select {
        background: #f1f4f7;
        height: 7.813vw;
        padding: 0 2.605vw;
        border-radius: 1.302vw;
        width: 100%;
        height: 100%;
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 2.083vw;
        line-height: 3.385vw;
        color: #abafbc;
      }

      .name {
      }

      .count {
      }
    }

    .right-part {
      width: 79.427vw;
      border-radius: 1.302vw;
      height: 34.766vw;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 1.302vw;
      }
    }

    .text {
    }

    .trade-form-btn {
      background: #eec16a;
      box-shadow: 0vw 0.13vw 0.26vw rgba(0, 0, 0, 0.06),
        0vw 0.13vw 0.39vw rgba(0, 0, 0, 0.1);
      border-radius: 1.302vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 45.052vw;
      height: 7.813vw;
      font-size: 2.344vw;
      line-height: 2.865vw;
      text-transform: uppercase;
      color: #1a1a1a;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        transition: 0.3s ease-in-out;
        background: #fbd07c;
        box-shadow: 0vw 0.052vw 0.104vw rgba(0, 0, 0, 0.06),
          0vw 0.052vw 0.156vw rgba(0, 0, 0, 0.1);
      }
    }
  }
}
